<ion-header>
  <ion-toolbar>
    <ion-title>Corrección 2025W</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="eventForm" (ngSubmit)="sendMessage()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input formControlName="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input type="number" formControlName="age"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="pass"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="tel" formControlName="telf"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input formControlName="direccion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha de Nacimiento</ion-label>
      <ion-input type="date" formControlName="fechaNacimiento"></ion-input>
    </ion-item>

    <!-- Campo para seleccionar colores favoritos con selección múltiple -->
    <ion-item>
      <ion-label>Colores Favoritos</ion-label>
      <ion-select formControlName="colorFavorito" multiple="true" placeholder="Seleccione uno">
        <ion-select-option value="Rojo">Rojo</ion-select-option>
        <ion-select-option value="Azul">Azul</ion-select-option>
        <ion-select-option value="Verde">Verde</ion-select-option>
        <ion-select-option value="Amarillo">Amarillo</ion-select-option>
        <ion-select-option value="Negro">Negro</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="eventForm.invalid">Enviar</ion-button>
  </form>
</ion-content>
